<link rel="stylesheet" href="/static/style.css">

<div class="container">
    <h2>📷 Upload Photo</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="photo" required>
        <input name="caption" placeholder="Write a caption ✨">
        <button type="submit">Upload</button>
    </form>

    <p><a href="/home">🏠 Back to Home</a></p>

    <div class="toggle" onclick="toggleMode()"></div>
</div>

<script>
function toggleMode(){
    document.body.classList.toggle("dark");
}
</script>
